@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(foto-aerea-simetrica-de-um-campo-de-tenis.jpg);
    background-size: cover;
    background-position: center;

}
.container{
    width: 420px;
    background-color: rgb(14, 11, 11);
    border: 2px rgb(49, 49, 49);
    border-radius: 10px;
    color: aliceblue;
    padding: 30px 40px;
    box-shadow: box-shadow rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  
}
.container h1{
   font-size: 36px;
   text-align: center;

}
.input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;

}
.input-box input{
    width: 100%;
    height: 100%;
    background-color: transparent;
    border:rgb(255, 255, 255);
    border-radius: 40px;
    border: 2px solid rgb(63, 63, 63);
    outline:rgb(59, 59, 59);
    font-size: 16px;
    color: green;
    padding: 20px 40px 20px 20px;
    

}
.Esqueci{
    display: flex;
    justify-content: space-between;
margin: -15px 0 15px;
}
.Equeci-input-label{
    accent-color: #134e13;
    margin-right: 5px;

}
input[type="checkbox"] {
  accent-color: #28b55e;
}
.Esqueci a{
    text-decoration:  none;
    color:rgb(245, 252, 252);
}
.Esqueci a:hover{
    text-decoration: underline;
}

.login{
    width: 100%;
    height: 50px;
    background-color: green;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    color: black;
    font-weight: 600;
    box-shadow:box-shadow rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.login:hover{
    background-color:rgb(174, 219, 174);
    border: 2px solid rgb(0, 0, 0)
    color rgb(255, 255, 255);
    transition: 0.5s;
    
}
.registrar{
    font-size: 14px;
    text-align: center;
    margin: 20px 0 15px;
    
}
.registrar a{
    text-decoration: none;
    color: white;
    font-weight: 500;
}
.registrar a  :hover{
    text-decoration: underline;

}


